<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ForumMulti -->
      <package
            uri="http://de.htwg.generated.emf.Forum"
            class="de.htwg.generated.emf.ForumMulti.ForumMultiPackage"
            genModel="emfmodel/ForumMulti.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ForumMulti -->
      <parser
            type="forummulti"
            class="de.htwg.generated.emf.ForumMulti.util.ForumMultiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleForum -->
      <package
            uri="http://de.htwg.generated.emf.SimpleForum"
            class="de.htwg.generated.emf.model.SimpleForum.SimpleForumPackage"
            genModel="emfmodel/SimpleForum.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Forum -->
      <package
            uri="http://de.htwg.generated.emf.Forum"
            class="de.htwg.generated.emf.model.Forum.ForumPackage"
            genModel="emfmodel/Forum.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModel -->
      <package
            uri="myTestModelURI"
            class="de.htwg.generated.emf.model.TestModel.TestModelPackage"
            genModel="emfmodel/TestModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OptOnly -->
      <package
            uri="SomeURI"
            class="de.htwg.generated.emf.model.OptOnly.OptOnlyPackage"
            genModel="emfmodel/OptOnly.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleTypes -->
      <package
            uri="SimpleTypesURI"
            class="de.htwg.generated.emf.model.SimpleTypes.SimpleTypesPackage"
            genModel="emfmodel/SimpleTypes.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExceptionCase -->
      <package
            uri="myExceptionCaseURI"
            class="de.htwg.generated.emf.model.ExceptionCase.ExceptionCasePackage"
            genModel="emfmodel/ExceptionCase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ExceptionCaseList -->
      <package
            uri="myExceptionCaseListURI"
            class="de.htwg.generated.emf.model.ExceptionCaseList.ExceptionCaseListPackage"
            genModel="emfmodel/ExceptionCaseList.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Expression -->
      <package
            uri="ExpressionURI"
            class="de.htwg.expression.Expression.ExpressionPackage"
            genModel="emfmodel/Expression.genmodel"/>
   </extension>

</plugin>
