<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ForumMulti -->
      <package
            uri="http://de.htwg.generated.emf.Forum"
            class="de.htwg.generated.emf.ForumMulti.ForumMultiPackage"
            genModel="emfmodel/ForumMulti.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated ForumMulti -->
      <parser
            type="forummulti"
            class="de.htwg.generated.emf.ForumMulti.util.ForumMultiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleForum -->
      <package
            uri="http://de.htwg.generated.emf.SimpleForum"
            class="de.htwg.generated.emf.model.SimpleForum.SimpleForumPackage"
            genModel="emfmodel/SimpleForum.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Forum -->
      <package
            uri="http://de.htwg.generated.emf.Forum"
            class="de.htwg.generated.emf.model.Forum.ForumPackage"
            genModel="emfmodel/Forum.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TestModel -->
      <package
            uri="myTestModelURI"
            class="de.htwg.generated.emf.model.TestModel.TestModelPackage"
            genModel="emfmodel/TestModel.genmodel"/>
   </extension>

</plugin>
